.getkeep
.DS_Store
__pycache__/
*.pyc
.ipynb_checkpoints/
rendered_fractals/
active_fractal_images.json
removed_fractal_images.json
active_fractal_seeds.json
removed_fractal_seeds.json
*.log
*.egg-info/
dump.rdb